<div class="ui vertical strip segment">

  <div class="ui header">Let's find the right product combination for your needs...</div>

  <p>Please choose an item from each drop-down and hit that "calculate" button!</p>

  <select class="large-fld">
    {{#each model.psus as |psu|}}
        <option>{{psu.name}}</option>
    {{/each}}
  </select>

  {{#ui-dropdown class="selection" selected="psu" onChange=(action (mut psu))}}
  <div class="default text">psu</div>
  <i class="dropdown icon"></i>
  <div class="menu">
    {{#each model.psus as |psu|}}
      <div class="item" data-value="{{psu.id}}">
        {{psu.name}}
      </div>
    {{/each}}
  </div>
  {{/ui-dropdown}}




  <select class="large-fld">
                        {{#each LDRs as |LDRs|}}
                            <option>{{LDRs}}</option>
                        {{/each}}
                      </select>





  <select class="large-fld">
                        {{#each JMPs as |JMPs|}}
                            <option>{{JMPs}}</option>
                        {{/each}}
                      </select>





  <select class="large-fld">
                        {{#each WPXs as |WPXs|}}
                            <option>{{WPXs}}</option>
                        {{/each}}
                      </select>





  <div class="ui input">
    <input type="text" name="NoF" value="" placeholder="# of fixtures?">
  </div>

  <button class="ui button primary">
        Calculate
      </button>


</div>
